/* 載入字型 */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap")
;
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family:  "M PLUS Rounded 1c", sans-serif; /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none; /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; /* 拿掉底線 */
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 999;
  top: 0;
}

.nav-brand{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top; 
}


.logo-img {
  max-height: 35px;
  max-width: 35px;
}

.shop-name {
  color: black;
  font-size: 17px;
  font-weight: bolder;
  margin: 5px 15px;
  letter-spacing: -1px;
}

sup {
  font-size: 1px;
}

.nav-list {
  display: none;
}

.nav-brand {
  display: flex;
  justify-content: center;
  align-content: center;
}

.far, .fas {
  position: absolute;
  margin-top: 8px;
}

.fa-search {
  text-align: left;
  margin-left: 45px;
}

.fa-heart {
  right: 3.5rem;
}

.fa-shopping-bag {
  right: 1.2rem;
}

.filter-area {
  text-align: center;
  height: 100%;
  margin-top: 70px;
}

.filter-title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 15px;
}

select {
  width: 200px;
  height: 40px;
  margin: 3px;
  border-color: grey;
  border-radius: 3px;
}

.select-item {
  font-size: 10px;
  font-weight: 600;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 10px;
  margin-bottom: 80px;
}

.product-card {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.card-img {
  position: relative;
  overflow: hidden;
}

.fake-img  {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-out 0.2s;
  object-fit: contain;
  display: block;
}

.real-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-out 0.2s;
  opacity: 0;
  object-fit: cover;
  object-position: top;
}

.card-img:hover .real-img {
  opacity: 1;
}

.card-img:hover .fake-img {
  opacity: 0;
}

.card-info {
  text-align: center;
}

.product-name {
  font-size: 10px;
  font-weight: 500;
  color: #2b2b2b;
}

.product-price {
  font-size: 13px;
  font-weight: 600;
}

.heart-icon {
  position: absolute;
  background-color: #fff;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  z-index: 10;
  border-radius: 50%;
  text-align: center;
}

.add-favorite {
  position: absolute;
  top: 10%;
  left: 28%;
  text-align: center;
}

.pagination {
  text-align: center;
  font-size: 10px;
}

.footer {
  background-image: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/14376/template.png");
  height: auto;
}


/* 電腦版樣式 */
@media screen and (min-width: 540px) {
  .filter-title {
    font-size: 26px;
  }

  .filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
    margin: 20px auto;
  }

  select {
    height: 38px;
    border-color: grey;
    border-radius: 3px;
  }

  .select-item{
    margin: 5px;
    max-width: 350px;
    min-width: 70px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 10px;
    margin-bottom: 80px;
  }

}

@media screen and (min-width: 960px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    outline: solid 1px black;
    position: relative;
  }

  .logo-img {
    max-height: 50px;
    max-width: 45px;
  }

  .shop-name {
    color: black;
    font-size: 22px;
    margin: 8px 15px;
  } 
  
  
  .nav-list {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  .nav-item {
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 50px;
  }

  .nav-brand {
    position: absolute;
    left: 135px;
  }
 
  .fa-search {
    top: 0;
    right: 6rem;
  }
  
  .fa-heart {
    top: 0;
    right: 3.5rem;
  }
  
  .fa-shopping-bag {
    top: 0;
    right: 1.2rem;
  }

  .filter-area {
    text-align: center;
    height: 100%;
    margin-top: 30px;
  }

  .filter-title {
    font-weight: 600;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 10px;
    margin-bottom: 80px;
  }

  .add-favorite {
    position: absolute;
    top: 10%;
    left: 28%;
    text-align: center;
  }


}